.navigation-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-menu li{
    margin: 0 15px;
}
.navigation-menu li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.mobile-navigation{
    list-style: none;

    
}

.mobile-navigation li{
    margin-top: 20px;
    color: black;
}

.mobile-navigation li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: 500;
  
}